ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111);
}
  
.center {
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

form{
    display: block;
    position: relative;
    margin: 0px auto 0 auto;
    height: 44px;
    width: 582px;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
}

.footer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
  }